# Assignment 10 (Association Rules)

In [1]:
!pip install mlxtend pandas

Requirement already satisfied: mlxtend in c:\users\admin\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\Admin\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Admin\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\Admin\anaconda3\Lib\site-packages)

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import mlxtend.frequent_patterns 
from mlxtend.frequent_patterns import apriori, association_rules

## Load Dataset

In [3]:
df = pd.read_excel("Online Retail.xlsx", header=None)
df
# Each row is one transaction
transactions = df[0].apply(lambda x: x.split(','))   # split by comma
transactions.head()

0    [shrimp, almonds, avocado, vegetables mix, gre...
1                           [burgers, meatballs, eggs]
2                                            [chutney]
3                                    [turkey, avocado]
4    [mineral water, milk, energy bar, whole wheat ...
Name: 0, dtype: object

In [4]:
from mlxtend.preprocessing import TransactionEncoder
# Convert transactions to list of lists
transaction_list = transactions.tolist()
# Apply TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(transaction_list).transform(transaction_list)
basket = pd.DataFrame(te_array, columns=te.columns_)
basket.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

## EDA

In [5]:
df.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [6]:
df.tail()

                                                      0
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7498                                            chicken
7499                                 escalope,green tea
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

In [7]:
df.dtypes

0    object
dtype: object

In [8]:
df.describe()

              0
count      7501
unique     5176
top     cookies
freq        223

In [9]:
df.shape

(7501, 1)

In [10]:
df.isnull()

          0
0     False
1     False
2     False
3     False
4     False
...     ...
7496  False
7497  False
7498  False
7499  False
7500  False

[7501 rows x 1 columns]

In [11]:
df.isnull().sum()

0    0
dtype: int64

In [12]:
df.duplicated().sum()

2325

In [13]:
means=df.mean(numeric_only=True)
means

Series([], dtype: float64)

In [14]:
median=df.median(numeric_only=True)
median

Series([], dtype: float64)

In [15]:
std=df.std(numeric_only=True)
std

Series([], dtype: float64)

## Data Preprocessing

In [16]:
from mlxtend.frequent_patterns import apriori, association_rules
from sklearn.model_selection import train_test_split

In [17]:
# Check missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
0    0
dtype: int64

In [18]:
print(df.columns)

Index([0], dtype='int64')

In [19]:
# Convert True/False into 1/0
basket = basket.astype(int)
basket

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
# Remove missing values
df.dropna(inplace=True)
df

                                                      0
0     shrimp,almonds,avocado,vegetables mix,green gr...
1                                burgers,meatballs,eggs
2                                               chutney
3                                        turkey,avocado
4     mineral water,milk,energy bar,whole wheat rice...
...                                                 ...
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7498                                            chicken
7499                                 escalope,green tea
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]

## Association Rule Mining

In [21]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt

In [22]:
# Step 1: Create sample dataset
dataset = [
    ['asparagus', 'almonds', 'asparagus'],
    ['avocado', 'bacon'],
    ['blueberries', 'water spray'],
    ['asparagus', 'almonds', 'white wine', 'yams'],
    ['yogurt cake']
]

In [23]:
# Convert dataset into one-hot encoded DataFrame
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [24]:
print("One-Hot Encoded Dataset:")
print(df)

One-Hot Encoded Dataset:
   almonds  asparagus  avocado  bacon  blueberries  water spray  white wine  \
0     True       True    False  False        False        False       False
1    False      False     True   True        False        False       False
2    False      False    False  False         True         True       False
3     True       True    False  False        False        False        True
4    False      False    False  False        False        False       False

    yams  yogurt cake
0  False        False
1  False        False
2  False        False
3   True        False
4  False         True

In [25]:
# Apply Apriori Algorithm
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)

print("\nFrequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
   support              itemsets
0      0.4             (almonds)
1      0.4           (asparagus)
2      0.4  (almonds, asparagus)

In [26]:
# Generate Association Rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

# Keep only relevant columns
rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

print("\nAssociation Rules:")
print(rules.sort_values(by="lift", ascending=False).head(10))

Association Rules:
   antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

In [27]:
# Generate Rules with Confidence and Lift Threshold
rules = association_rules(
    frequent_itemsets,
    metric="confidence",
    min_threshold=0.6   # Only keep rules with confidence >= 60%
)

In [28]:
# Apply additional filter for lift
rules = rules[rules['lift'] >= 1.2]   # Keep only rules with lift >= 1.2

# Select relevant columns
rules = rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

print("\nFiltered Association Rules:")
print(rules.sort_values(by="lift", ascending=False).head(15))

Filtered Association Rules:
   antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

## Analysis and Interpretation

In [32]:
# Sort by different metrics to analyze
print("\nTop Rules by Confidence:")
print(rules.sort_values(by="confidence", ascending=False).head(10))

print("\nTop Rules by Lift:")
print(rules.sort_values(by="lift", ascending=False).head(10))

print("\nTop Rules by Support:")
print(rules.sort_values(by="support", ascending=False).head(10))

Top Rules by Confidence:
   antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

Top Rules by Lift:
   antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

Top Rules by Support:
   antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

In [35]:
# Step 1: Sort and inspect rules
top_by_support = rules.sort_values(by="support", ascending=False).head(5)
top_by_confidence = rules.sort_values(by="confidence", ascending=False).head(5)
top_by_lift = rules.sort_values(by="lift", ascending=False).head(5)

print("\nTop 5 Rules by Support:\n", top_by_support)
print("\nTop 5 Rules by Confidence:\n", top_by_confidence)
print("\nTop 5 Rules by Lift:\n", top_by_lift)

Top 5 Rules by Support:
    antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

Top 5 Rules by Confidence:
    antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

Top 5 Rules by Lift:
    antecedents  consequents  support  confidence  lift
0    (almonds)  (asparagus)      0.4         1.0   2.5
1  (asparagus)    (almonds)      0.4         1.0   2.5

In [36]:
# Function to convert rule into readable insight
def generate_insight(row):
    antecedent = ', '.join(list(row['antecedents']))
    consequent = ', '.join(list(row['consequents']))
    return (f"Customers who buy [{antecedent}] are likely to also buy [{consequent}] "
            f"(Support: {row['support']:.2f}, "
            f"Confidence: {row['confidence']:.2f}, "
            f"Lift: {row['lift']:.2f}).")

In [37]:
# Generate Insights
print("\n🔎 Insights from Top Rules:\n")
for _, row in top_by_lift.iterrows():
    print(generate_insight(row))

for _, row in top_by_confidence.iterrows():
    print(generate_insight(row))

🔎 Insights from Top Rules:

Customers who buy [almonds] are likely to also buy [asparagus] (Support: 0.40, Confidence: 1.00, Lift: 2.50).
Customers who buy [asparagus] are likely to also buy [almonds] (Support: 0.40, Confidence: 1.00, Lift: 2.50).
Customers who buy [almonds] are likely to also buy [asparagus] (Support: 0.40, Confidence: 1.00, Lift: 2.50).
Customers who buy [asparagus] are likely to also buy [almonds] (Support: 0.40, Confidence: 1.00, Lift: 2.50).

### Conclusion

In this assignment, association rule mining was applied to uncover hidden patterns and relationships in transactional data. By using metrics such as support, confidence, and lift, meaningful rules were identified that reveal strong associations between different items. The results provide valuable insights into customer purchasing behavior, helping businesses make data-driven decisions, such as product placement, cross-selling, and promotional strategies.

## Interview Questions

### 1.	What is lift and why is it important in Association rules?

Lift in association rules measures how much more likely the consequent is to occur when the antecedent is present, compared to its independent likelihood. It's calculated as the observed support of the rule divided by the product of the individual supports of the antecedent and consequent. Lift is important because

It helps identify truly strong and interesting associations by normalizing for the individual popularity of items, preventing high-support, yet ultimately uninteresting, rules from being considered significant.

Why Lift is important:

1. It Filters out weak rules.

2. It normalize for item popularity

3. It helpes find genuinely interesting associations

4. It enhance business insights

### 2.What is support and Confidence. How do you calculate them?

Support quantifies the proportion of transactions that contain a specific combination of items (an itemset). 
How to calculate it:
Count the itemset's occurrences: Determine the number of transactions where all items in the itemset appear together. 
Divide by the total transactions: Divide this count by the total number of transactions in the dataset.

Formula: Support(X) = (Number of transactions containing X) / (Total number of transactions)

Confidence
What it is: Confidence assesses the reliability of an association rule (X → Y), indicating the probability that itemset Y will be present given that itemset X is already present. 
How to calculate it:
Find the joint support: Count the number of transactions containing both itemset X and itemset Y (the union X∪Y). 
Count the support of the antecedent: Count the number of transactions that contain itemset X (the antecedent or LHS of the rule). 
Divide the joint support by the antecedent support: The result is the confidence.

Formula: Confidence(X → Y) = (Support of X∪Y) / (Support of X)

### 3.What are some limitations or challenges of Association rules mining?

Limitations and challenges of association rule mining include the potential for generating an overwhelming number of rules, the difficulty in identifying truly meaningful patterns, computational expense with large datasets, and the necessity of setting appropriate minimum support and confidence thresholds to avoid trivial or overlooked rules. It also struggles with continuous variables and complex, multi-way relationships, requiring significant data preprocessing and domain knowledge for effective interpretation.