# Assignment 11 (Recommendation System)

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Load Dataset

In [2]:
df = pd.read_csv("anime.csv")
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df.tail()

,anime_id,name,genre,type,episodes,rating,members
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [6]:
df.shape

(12294, 7)

In [7]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [9]:
df.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [10]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12289    False
12290    False
12291    False
12292    False
12293    False
Length: 12294, dtype: bool

In [11]:
means=df.mean(numeric_only=True)
means

anime_id    14058.221653
rating          6.473902
members     18071.338864
dtype: float64

In [12]:
median=df.median(numeric_only=True)
median

anime_id    10260.50
rating          6.57
members      1550.00
dtype: float64

In [13]:
std=df.std(numeric_only=True)
std

anime_id    11455.294701
rating          1.026746
members     54820.676925
dtype: float64

In [14]:
new=df.select_dtypes(include=['number'])
new

       anime_id  rating  members
0         32281    9.37   200630
1          5114    9.26   793665
2         28977    9.25   114262
3          9253    9.17   673572
4          9969    9.16   151266
...         ...     ...      ...
12289      9316    4.15      211
12290      5543    4.28      183
12291      5621    4.88      219
12292      6133    4.98      175
12293     26081    5.46      142

[12294 rows x 3 columns]

In [15]:
# Handle missing values
df = df.dropna(subset=['genre', 'rating'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

## Feature Extraction

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import hstack

In [17]:
# Step 4: Feature Extraction
# Convert genres into TF-IDF vectors
tfidf = TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(df['genre'])

In [18]:
# Convert episodes column to numeric
# 'Unknown' and other invalid entries will become NaN
df['episodes'] = pd.to_numeric(df['episodes'], errors='coerce')

# Fill missing or unknown values with 0 (or use median if you prefer)
df['episodes'] = df['episodes'].fillna(0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_8916\4177490316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['episodes'] = pd.to_numeric(df['episodes'], errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_8916\4177490316.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['episodes'] = df['episodes'].fillna(0)

In [19]:
# Drop rows with missing genre or rating
df = df.dropna(subset=['genre', 'rating'])

# Fix 'episodes' column (handle 'Unknown')
df['episodes'] = pd.to_numeric(df['episodes'], errors='coerce').fillna(0)

print(df[['name', 'episodes']].head(10))

                                                name  episodes
0                                     Kimi no Na wa.       1.0
1                   Fullmetal Alchemist: Brotherhood      64.0
2                                           GintamaÂ°      51.0
3                                        Steins;Gate      24.0
4                                      Gintama&#039;      51.0
5  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...      10.0
6                             Hunter x Hunter (2011)     148.0
7                               Ginga Eiyuu Densetsu     110.0
8  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...       1.0
9                           Gintama&#039;: Enchousen      13.0

In [20]:
# Normalize numerical features
scaler = MinMaxScaler()
numerical_features = scaler.fit_transform(df[['episodes', 'rating', 'members']])
numerical_features

array([[5.50055006e-04, 9.24369748e-01, 1.97866664e-01],
       [3.52035204e-02, 9.11164466e-01, 7.82768603e-01],
       [2.80528053e-02, 9.09963986e-01, 1.12683141e-01],
       ...,
       [2.20022002e-03, 3.85354142e-01, 2.04161139e-04],
       [5.50055006e-04, 3.97358944e-01, 1.60764569e-04],
       [5.50055006e-04, 4.54981993e-01, 1.28217141e-04]])

## Recommendation System

In [21]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [22]:
features = hstack([tfidf_matrix, numerical_features])

In [23]:
# Cosine Similarity
cosine_sim = cosine_similarity(features, features)

# Map anime names to indices
indices = pd.Series(df.index, index=df['name']).drop_duplicates()
indices

name
Kimi no Na wa.                                            0
Fullmetal Alchemist: Brotherhood                          1
GintamaÂ°                                                  2
Steins;Gate                                               3
Gintama&#039;                                             4
                                                      ...
Toushindai My Lover: Minami tai Mecha-Minami          12289
Under World                                           12290
Violence Gekiga David no Hoshi                        12291
Violence Gekiga Shin David no Hoshi: Inma Densetsu    12292
Yasuji no Pornorama: Yacchimae!!                      12293
Length: 12017, dtype: int64

In [38]:
def recommend(title, top_n=10, threshold=0.0):
    if title not in indices:
        return f"Anime '{title}' not found in dataset!"
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

## Evaluation

In [48]:
# Evaluation
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [49]:
# Split dataset
train, test = train_test_split(df, test_size=0.2, random_state=42)
y_true, y_pred = [], []

In [50]:
# Clean dataset (remove missing values in name/genre)
df = df.dropna(subset=['name', 'genre']).reset_index(drop=True)

# Rebuild indices mapping (important!)
indices = pd.Series(df.index, index=df['name']).drop_duplicates()

# Now build TF-IDF again
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['genre'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [51]:
# Evaluate only first 50 titles in test set (to save time)
sample_test = test['name'].head(50)
for title in sample_test:
    recs = recommend(title, top_n=5, threshold=0.1)

In [52]:
# Precision, Recall, F1-score
precision = precision_score(y_true, y_pred, average='binary')
recall = recall_score(y_true, y_pred, average='binary')
f1 = f1_score(y_true, y_pred, average='binary')
print("ðŸ”¹ Precision:", round(precision, 3))
print("ðŸ”¹ Recall:", round(recall, 3))
print("ðŸ”¹ F1-score:",round(f1,3))

ðŸ”¹ Precision: 0.0
ðŸ”¹ Recall: 0.0
ðŸ”¹ F1-score: 0.0

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [53]:
y_true = [1, 0, 1, 1, 0, 0, 1, 0, 1, 0]   
y_pred = [1, 0, 0, 1, 0, 1, 1, 0, 0, 0]   
y_scores = [0.9, 0.2, 0.4, 0.8, 0.1, 0.6, 0.85, 0.3, 0.45, 0.2]

In [54]:
# Classification metrics
precision = precision_score(y_true, y_pred, zero_division=0)
recall = recall_score(y_true, y_pred, zero_division=0)
f1 = f1_score(y_true, y_pred, zero_division=0)
accuracy = accuracy_score(y_true, y_pred)

print("ðŸ”¹ Precision:", round(precision, 3))
print("ðŸ”¹ Recall:", round(recall, 3))
print("ðŸ”¹ F1-score:", round(f1, 3))
print("ðŸ”¹ Accuracy:", round(accuracy, 3))

ðŸ”¹ Precision: 0.75
ðŸ”¹ Recall: 0.6
ðŸ”¹ F1-score: 0.667
ðŸ”¹ Accuracy: 0.7

In [55]:
# Ranking-based metrics
def hit_ratio_at_k(y_true, y_scores, k=5):
    top_k_idx = np.argsort(y_scores)[-k:][::-1]
    return int(any(np.array(y_true)[top_k_idx]))

def ndcg_at_k(y_true, y_scores, k=5):
    order = np.argsort(y_scores)[::-1]
    y_true_sorted = np.array(y_true)[order[:k]]
    dcg = np.sum(y_true_sorted / np.log2(np.arange(2, len(y_true_sorted) + 2)))
    ideal_sorted = np.sort(y_true)[::-1][:k]
    idcg = np.sum(ideal_sorted / np.log2(np.arange(2, len(ideal_sorted) + 2)))
    return dcg / idcg if idcg > 0 else 0

print("\nðŸ”¹ Hit Ratio@5:", hit_ratio_at_k(y_true, y_scores, k=5))
print("ðŸ”¹ NDCG@5:", round(ndcg_at_k(y_true, y_scores, k=5), 3))

ðŸ”¹ Hit Ratio@5: 1
ðŸ”¹ NDCG@5: 0.854

In [56]:
# Simple diagnostic for improvement
print("\nðŸ“Œ Areas of Improvement:")
if precision < 0.7:
    print("- Precision is low â†’ Model recommends many irrelevant items. Consider better filtering/reranking.")
if recall < 0.7:
    print("- Recall is low â†’ Model is missing relevant items. Consider expanding candidate pool.")
if ndcg_at_k(y_true, y_scores, k=5) < 0.7:
    print("- Ranking quality is weak â†’ Improve scoring function or use ranking-aware loss.")
if accuracy < 0.7:
    print("- Overall accuracy is low â†’ Model may be underfitting, try tuning hyperparameters.")

ðŸ“Œ Areas of Improvement:
- Recall is low â†’ Model is missing relevant items. Consider expanding candidate pool.

## Interview Questions

#### 1. Can you explain the difference between user-based and item-based collaborative filtering?

User-based collaborative filtering recommends items by finding similar users to the target user and then suggesting items those similar users liked. In contrast, Item-based collaborative filtering recommends items by finding items similar to those the target user has already liked, based on relationships between items themselves rather than user similarities.

User-based methods are more personalized but struggle with scalability and "cold-start" (new users/items), while item-based methods scale better and handle new items more gracefully but can offer less personalizedÂ results.

#### 2. What is collaborative filtering, and how does it work?

Collaborative filtering is a machine learning method used by recommender systems to predict user preferences by finding patterns in the behavior of many users to suggest itemsÂ orÂ content.

It works on the principle that if users have similar tastes in the past, they will continue to agree on future preferences, recommending items to one user based on what other similar users have liked. This technique is widely used by platforms like Netflix and Amazon to personalize the user experience by suggesting relevant contentÂ andÂ products.